:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #ffffff;
    --color-light: rgb(160, 157, 157);
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
  body {
    background: var(--color-dark);
   
    min-height: 100vh;
  }
  
  html {

    height: 100%;
    font-size: 10px;
  }

  
  form {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
  }
  
  input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  
  input[type=search] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  
  input:not(:-moz-placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:-ms-input-placeholder) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  input:not(:-moz-placeholder-shown) + button {
    display: block;
  }
  input:not(:-ms-input-placeholder) + button {
    display: block;
  }
  input:not(:placeholder-shown) + button {
    display: block;
  }
  
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .container{
    display: flex; /* or inline-flex */

flex-direction: row;

align-items:center;



  }


.sign-in{
  background-color: red;
  color: #f0eeee;
  border-radius: 30%;
    font-size: 1.2vw;
  padding: 0.8vw;
  margin-right:1vw ;


  



} 
.title{
  font: 2vw sans-serif;
  margin-left: 21vw;
}

.sign-up{
  background-color: rgb(141, 132, 132);
  color: #171616;
  border-radius: 30%;
  font-size: 1.2vw;
  padding: 0.8vw;

  




} 
.sign{
  margin-left: 28vw;
  display: inline-flex ; /* or inline-flex */
flex-direction:row;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.wrapper {  display: grid;
  grid-template-columns: 1.5fr 0.4fr 1.1fr 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr 1fr 0.6fr 1.8fr 0.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". mainImage mainImage mainImage ."
    ". mainImage mainImage mainImage ."
    ". mainImage mainImage mainImage ."
    ". ratings ratings ratings ."
    ". description description description ."
    ". purchase purchase purchase .";
    margin-left: 12vw;
}

.mainImage { grid-area: 1 / 2 / 4 / 5; 
margin-left: -10vw;
margin-top: 3vw;}

.ratings { grid-area: 4 / 2 / 5 / 5;

margin-top: 1vw;
font-size: 1vw;
color: #a7a1a1;
margin-left: 5vw;
font-family: Arial, Helvetica, sans-serif;}

.description { grid-area: 5 / 2 / 6 / 5; }

.purchase { grid-area: 6 / 2 / 5/ 5; 

margin-top: 5vw;
margin-left: -7vw;
font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2vw;


}

figcaption{

  font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-right: 5vw;


}

.description{
  display: flex; /* or inline-flex */

  flex-direction: row;
  
  align-items:center;
margin-top: -37vw;  
margin-left: -7vw;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rating{
font-size: 1.3vw;
}

.epi{
  margin-left: 7vw;
  font-size: 1.3vw;
}


.num-ingredients{
  margin-left: 7vw;
  font-size: 1.3vw;
}

.container1 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pic0 pic1 pic2 pic3 pic4 pic5"
    "pic6 pic7 pic8 pic9 pic10 pic11"
    "pic12 pic13 pic14 pic15 pic16 pic17"
    "pic18 pic19 pic20 pic21 pic22 pic23"
    "pic24 pic25 pic26 pic27 pic28 pic29"
    "pic30 pic31 pic32 pic33 pic34 pic35"
    "pic36 pic37 pic38 pic39 pic40 .";
    margin-left: 3vw;

}

.pic0 { grid-area: pic0;
margin-bottom:4vw;


 }

.pic1 { grid-area: pic1; }

.pic2 { grid-area: pic2; }

.pic3 { grid-area: pic3; }

.pic4 { grid-area: pic4; }

.pic10 { grid-area: pic10; }

.pic11 { grid-area: pic11; }

.pic12 { grid-area: pic12; }

.pic13 { grid-area: pic13; }

.pic14 { grid-area: pic14; }

.pic15 { grid-area: pic15; }

.pic16 { grid-area: pic16; }

.pic17 { grid-area: pic17; }

.pic18 { grid-area: pic18; }

.pic19 { grid-area: pic19; }

.pic20 { grid-area: pic20; }

.pic21 { grid-area: pic21; }

.pic22 { grid-area: pic22; }

.pic23 { grid-area: pic23; }

.pic24 { grid-area: pic24; }

.pic25 { grid-area: pic25; }

.pic26 { grid-area: pic26; }

.pic27 { grid-area: pic27; }

.pic28 { grid-area: pic28; }

.pic29 { grid-area: pic29; }

.pic30 { grid-area: pic30; }

.pic31 { grid-area: pic31; }

.pic32 { grid-area: pic32; }

.pic33 { grid-area: pic33; }

.pic34 { grid-area: pic34; }

.pic35 { grid-area: pic35; }

.pic36 { grid-area: pic36; }

.pic37 { grid-area: pic37; }

.pic38 { grid-area: pic38; }

.pic39 { grid-area: pic39; }

.pic40 { grid-area: pic40; }

.pic5 { grid-area: pic5; }

.pic6 { grid-area: pic6; }

.pic7 { grid-area: pic7; }

.pic8 { grid-area: pic8; }

.pic9 { grid-area: pic9; }


.container3 {
  position: relative;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 82%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;
  background-color: #bdc4c7;
}

.container3:hover .overlay {
  opacity: 1;
}


.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
margin-left: 1vw;
margin-top: 2vw;
}


/* .button1{
  background-color: rgb(156, 145, 146);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4vw;
  border-radius: 40%;
}

.button2{
  background-color: rgb(218, 58, 69);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4vw;
  border-radius: 40%;

} */

.button{
  display: flex; /* or inline-flex */

  flex-direction: row;
  
  align-items:center;
}

.button1{
  background-color: rgb(141, 132, 132);
  color: #171616;
  border-radius: 30%;
  font-size: 1.2vw;
  padding: 0.8vw;
  margin-left: 30vw;
  margin-right: 57vw;
margin-top: -14vw;
margin-bottom: 10vw;


font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;





} 
.button2{
  background-color: rgb(212, 56, 56);

  color: #f3ecec;
  border-radius: 30%;
  font-size: 1.2vw;
  padding: 0.8vw;
  margin-left: 42vw;
  margin-right: 48vw;
margin-top: -13vw;
margin-bottom: 10vw;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

p{
  font-size: 1.9vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 9vw;
margin-top: 1vw;
}